body {
    color: #212121;
    background: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  .sheet {
    list-style-type: none;
  }
  
  /*--header--*/
  .title-header {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
    text-decoration: none;
  }
  .studio-title-header {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
    text-decoration: none;
  }
  .link-page {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
  }
  .link-page:hover,
  .link-page:focus {
    color: #2196f3;
  }
  .link-page.current {
    color: #2196f3;
  }
  .contact-header {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
  }
  .contact-header:hover,
  .contact-header:focus {
    color: #2196f3;
  }
  /*--main--*/
  .hero {
    background: #2f303a;
  }
  .hero-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: #ffffff;
  }
  .hero-bth {
    font-family: "Roboto", sans-serif;
    background: #2196f3;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
  }
  .power {
    display: none;
  }
  .features {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .description {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .doit {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .team-main {
    background: #f5f4fa;
  }
  
  .background {
    background: #ffffff;
  }
  
  .worker {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
  .position {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
  }
  /*--footer--*/
  .footer {
    background: #2f303a;
  }
  .title-footer {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
    text-decoration: none;
  }
  .studio-title-footer {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
  }
  .map {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
  }
  .map:hover,
  .map:focus {
    color: #2196f3;
  }
  .contact-footer {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
  
  .contact-footer:hover,
  .contact-footer:focus {
    color: #2196f3;
  }
  /*---Portfolio---*/
  .bth-all {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: #212121;
    background: #f5f4fa;
    cursor: pointer;
    border: none;
  }
  .bth-all.current {
    color: #ffffff;
    background: #2196f3;
  }
  .bth-all:focus,
  .bth-all:hover {
    background: #2196f3;
    color: #ffffff;
  }
  
  .bth-web {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: #212121;
    background: #f5f4fa;
    cursor: pointer;
    border: none;
  }
  .bth-web:focus,
  .bth-web:hover {
    background: #2196f3;
    color: #ffffff;
  }
  
  .bth-web.current {
    color: #ffffff;
    background: #2196f3;
  }
  
  .bth-app {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: #212121;
    background: #f5f4fa;
    cursor: pointer;
    border: none;
  }
  .bth-app:focus,
  .bth-app:hover {
    background: #2196f3;
    color: #ffffff;
  }
  
  .bth-app.current {
    color: #ffffff;
    background: #2196f3;
  }
  
  .bth-design {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: #212121;
    background: #f5f4fa;
    cursor: pointer;
    border: none;
  }
  .bth-design:focus,
  .bth-design:hover {
    background: #2196f3;
    color: #ffffff;
  }
  .bth-design.current {
    color: #ffffff;
    background: #2196f3;
  }
  
  .bth-market {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: #212121;
    background: #f5f4fa;
    cursor: pointer;
    border: none;
  }
  .bth-market:focus,
  .bth-market:hover {
    background: #2196f3;
    color: #ffffff;
  }
  
  .bth-market.current {
    color: #ffffff;
    background: #2196f3;
  }
  
  .specification > body {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
  }
  .definition {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
    font-style: normal;
    font-weight: normal;
  }